<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
    <div class="container-fluid" layout:fragment="403">
        <div class="row">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">ACCESS DENIED</h4>
                <p>Если вы прочитали это сообщение. То вам отказано в доступе и вы не можете просматривать данную страницу</p>
                <hr>
                <p class="mb-0">По всем вопросам обращаться к администраций сайта!</p>
            </div>
        </div>
    </div>
</html>