<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<div class="container-fluid" layout:fragment="change_password">
    <div class="row col-9 mx-auto">
        <div class="alert alert-danger" role="alert" th:if="${param.oldPasswordNotMatches}">
            Пароль не подходит!
        </div>
        <div class="alert alert-warning" role="alert" th:if="${param.newPasswordNotMatches}">
            Ваши пароли не совподают!
        </div>
        <div class="alert alert-success" role="alert" th:if="${param.changesPasswordSuccess}">
            Вы изменили пароль!
        </div>
        <form th:action="@{'/bank/change-password'}" method="post">
            <input type="hidden" th:value="${#authentication.principal.id}" name="current-user-id">
            <div class="form-group">
                <label class="form-label">Old password:</label>
                <input type="hidden" th:value="${#authentication.principal.id}">
                <input type="password" class="form-control" name="user-old-password">
            </div>
            <div class="form-group">
                <label class="form-label">New password:</label>
                <input type="password" class="form-control" name="user-new-password">
            </div>
            <div class="form-group">
                <label class="form-label">Re-Password:</label>
                <input type="password" class="form-control" name="user-re-password">
            </div>
            <div class="form-group">
                <button class="btn btn-success">Sing up</button>
            </div>
        </form>
    </div>
</div>
</html>