<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<div class="container-fluid" layout:fragment="home">
    <div class="col-11 d-flex mx-auto">
        <div class="row justify-content-between">
            <a th:href="@{${category.link}}" class="card col-2 m-2 text-decoration-none"th:each="category:${categories}">
                <div class="card-header text-center" style="height: 80px;text-decoration-skip: none"><label th:text="${category.getName()}"></label></div>
                <div class="card-body"><img th:src="@{${category.getImages().get(0).getLink()}}"style="height: 150px;width: 150px"></div>
            </a>
        </div>
    </div>
</div>


</html>