<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
    <div class="container-fluid" layout:fragment="phone_details">
        <div class="col-9 mx-auto d-flex d-inline">
            <div class="form-control" th:each="category:${categories}">
                <label class="form-label" th:text="${category.name}"></label>
            </div>
        </div>
        <div class="col-9 mx-auto">
            <div class="form-group">
                <div class="form-control d-flex flex-wrap">
                    <div class="w-75 form-control p-3">
                        <div>
                            <img style="height: 400px;width: 300px" th:src="@{${item_phone.getImagesList().get(0).link}}">
                        </div>
                        <div class="d-flex d-inline p-3 justify-content-between">
                            <img th:src="@{${item_phone.getImagesList().get(0).link}}"style="height: 100px;width: 100px">
                            <img th:src="@{${item_phone.getImagesList().get(1).link}}"style="height: 100px;width: 100px">
                            <img th:src="@{${item_phone.getImagesList().get(2).link}}"style="height: 100px;width: 100px">
                            <img th:src="@{${item_phone.getImagesList().get(3).link}}"style="height: 100px;width: 100px">
                            <img th:src="@{${item_phone.getImagesList().get(4).link}}"style="height: 100px;width: 100px">
                        </div>
                    </div>
                    <div class="w-25 form-control p-3">
                        <div>
                            <label class="form-label" th:text="${item_phone.name}"></label>
                        </div>
                        <div class="form-group d-flex flex-wrap">
                            <div class="w-50 mx-auto">
                                <p style="color: grey">Цена</p>
                                <h6 th:text="${item_phone.price}+' т'"></h6>
                            </div>
                            <div class="w-50 mx-auto">
                                <p style="color: grey">В рассрочку</p>
                                <h6 th:text="${installments.get(2).months}"></h6>
                            </div>
                        </div>
                        <div class="mx-auto mt-2">
                            <select class="form-control">
                                <option th:each="color:${colors}" th:text="${color.name}" th:value="${color.id}"></option>
                            </select>
                        </div>
                        <div class="mx-auto mt-2">
                            <select class="form-control">
                                <option th:each="memory:${memory_phone}" th:text="${memory.memory}" th:value="${memory.id}"></option>
                            </select>
                        </div>
                        <div class="mt-2">
                            <a class="btn btn-danger" href="https://kaspi.kz/">Открыть в приложении Kaspi.kz</a>
                        </div>
                        <div class="form-control mt-2">
                            <p th:text="${item_phone.getDescription_phone()}"></p>
                        </div>
                    </div>
                    <div class="form-control">
                        <div class="form-group">
                            <div class="d-flex d-inline " th:each="seller:${item_phone.getSellers()}">
                                <p th:text="${seller.name}"></p>
                                <p class="ms-5" th:text="${item_phone.price}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>