<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<div class="container-fluid" layout:fragment="phone">
    <div class="col-12 d-flex flex-wrap">
        <div class="col-3">
            <form th:action="@{'/bank/search_price'}" method="get" role="search">
                <div>
                    <div class="form-group">
                        <p>Min price</p>
                        <input class="form-control" type="number" name="min_price">
                    </div>
                    <div class="form-group">
                        <p>Max Price</p>
                        <input class="form-control" type="number" name="max_price">
                    </div>
                    <div class="form-group">
                        <p>Name Phone</p>
                        <input class="form-control" type="text" name="search_name">
                    </div>
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="col-9 d-flex">
            <div class="form-control" th:each="ph:${phones}">
                <a th:href="@{'/bank/phone_details/'+${ph.getId()}}">
                    <img th:src="@{${ph.getImagesList().get(0).link}}" style="height: 150px;width: 150px">
                    <p th:text="${ph.name}"></p>
                    <p th:text="${ph.price}"></p>
                </a>
            </div>
        </div>
        <div class="col-9 d-flex">
            <div class="form-control" th:each="ph:${itemPhonePrice}">
                <a th:href="@{'/bank/phone_details/'+${ph.getId()}}">
                    <img th:src="@{${ph.getImagesList().get(0).link}}" style="height: 150px;width: 150px">
                    <p th:text="${ph.name}"></p>
                    <p th:text="${ph.price}"></p>
                </a>
            </div>
        </div>
    </div>
</div>
</html>