<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
    <div class="container-fluid" layout:fragment="register">
        <div class="row">
            <div class="alert alert-success" role="alert" th:if="${param.success}">
                Успешная регистрация!
            </div>
            <div class="alert alert-warning" role="alert" th:if="${param.passwordNotMatch}">
                Ваши пароли не совподают!
            </div>
            <div class="alert alert-danger" role="alert" th:if="${param.userExist}">
                Пользователь уже существует!
            </div>
            <form th:action="@{'/bank/sign-up'}" method="post">
                <div class="form-group">
                    <label class="form-label">Full Name:</label>
                    <input type="text" class="form-control" name="user-full-name">
                </div>
                <div class="form-group">
                    <label class="form-label">Email:</label>
                    <input type="email" class="form-control" name="user-email">
                </div>
                <div class="form-group">
                    <label class="form-label">Password:</label>
                    <input type="password" class="form-control" name="user-password">
                </div>
                <div class="form-group">
                    <label class="form-label">Re-Password:</label>
                    <input type="password" class="form-control" name="user-re-password">
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Sing up</button>
                </div>
            </form>
        </div>
    </div>
</html>